.col-md-6.col-md-offset-3
  .row
    .create-post-box
      .clearfix
        %span.update-status
          %i.fa.fa-pencil-square
          Update your status
        %hr
        = form_for(@post, remote: true) do |f|
          = f.text_area :body, class: 'form-control-mine', placeholder: "What are you thinking?", rows: "3"
          %hr.full-line
          .pull-left
            %span
              %a(href="#")
                %i.fa.fa-camera
          .pull-right
            = f.submit "Post", class: 'btn btn-primary'
    .posts
      = render "shared/feed"

