%i.fa.fa-thumbs-o-down
= form_for(object.get_liked_by(current_user), html: { method: :delete, remote: true }) do |f|
  .hidden
    = hidden_field_tag :post_id, object.id
  = f.submit "Nope(#{object.likes.count})", class: 'like-button'
