@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Global variables and stuff */
$dark: #424652;
$light: #9a9da4;
$extra-light: #E8E8E8;
$highlight: #8bc6db;
$highlight-1: #3399CC;
$blue: #007bb6;
$border: #E9E9E9;
$red-letter: #CC0033;
$light-grey: #F8F8F8;
$twitter: #55acee;
$github: #333333;
$facebook: #3b5998;
html{
  background-color: #e9eaed;
}
body{
  background-color: #e9eaed;
}

/* Navigation bar */
.navigation-bar{
  background-color: $facebook;
  padding-top: 1.0em;
  padding-bottom: 0;
  .brand{
	.left-menu{
	  .main-odin{
		font-size: 2.0em;
	  }
	  li{
		display: inline;
		list-style: none;
		color: #e8e8e8;
		h3{
		  display: inline;
		}
	  }
	  form{
		input{
		  margin-left: 5px;
		  height: 25px;
		}
		display: inline;
		float: right;
		margin: 0;
	  }
	}
	font-size: 2.0em;
	display: block;
	color: #e8e8e8;
	margin: 0;
	padding: 0;
	a{
	  color: $light-grey;
	  &:hover{
		color: #ffffff;
		text-decoration: none;
		background: #3a5795;
	  }
	}
  }
  background-color: #3a5795;
  border: 0;
  border-bottom: 1px solid #133783;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  .right-menu{
	li{
	  display: inline;
	  margin: 0 3px;
	  color: #e8e8e8;
	}
	margin: 0;
	list-style: none;
	font-size: 1.5em;
	text-decoration: none;
	.dropdown-menu{
	  li{
		margin: 0;
	  }
	  padding-right: 0px;
	  a{
		color: $dark;
		padding: 8px;
	  }
	  font-size: .7em;
	  margin-top: 15px;
	}
	a{
	  color: #e8e8e8;
	  &:hover{
		color: #ffffff;
		text-decoration: none;
		background: #3a5795;
	  }
	  &:visited{
		text-decoration: none;
	  }
	}
  }
}

.clear-top{
  margin-top: 15px;
}

/* posts */
.posts{
  list-style:none;
  padding: 0;
  .post{
	background-color: #ffffff;
	padding: 10px 5px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0px auto;
  }
  li{
	// padding: 10px 5px;
	margin: 5px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	max-width: 550px;
	max-height: 100%;
  }
  .user{
	padding-top: 5px;
	font-size: 30px;
	font-weight: 500;
	a{
	  color: $facebook;
	  &:hover{
		background: inherit;
	  }
	}
  }
  .content{
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.38;
	img{
	  display: block;
	  padding: 5px 0;
	}
  }
  .timestamp{
	color: $gray-light;
	display: block;
	margin-left: 60px;
  }
  .gravatar{
	float: left;
	margin-right: 10px;
  }
}

aside {
  textarea {
	height: 100px;
	margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
	border: 0;
  }
}

.full-line{
  margin-bottom: 5px;
}
.bottom-links{
  a{
	margin-right: 15px;
	color: $light;
	&:hover{
	  color: $facebook;
	  // text-decoration: none;
	  background: inherit;
	}
  }
}
.create-post-box{
  background: #ffffff;
  max-width: 550px;
  max-height: 100%;
  margin: 10px auto;
  padding: .3em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  hr{
	margin-top: 8px;
  }
  .pull-left{
	padding-top: 6px;
	a{
	  font-size: 14px;
	  color: $light;
	  text-decoration: none;
	  &:hover{
		color: $facebook;
		text-decoration: none;
		background: inherit;
	  }
	}
  }
}
.update-status{
  font-size: 15px;
  i{
	color: $facebook;
	font-size: 22px;
	margin-bottom: 0px;
  }
}
.form-control-mine{
  margin-bottom: 5px;
  border: 0;
  width: 100%;
  max-width: 530px;
}
.form-control-mine-comment{
  margin-bottom: 5px;
  border: 0;
  width: 100%;
  max-width: 550px;
}
.comment-button{
  .btn{
	margin-top: 0px;
  }
}
.comment-form{
  background: #ffffff;
  width: 100%;
  max-width: 550px;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
{
  outline:0px !important;
  -webkit-appearance:none;
}
textarea{
  resize: none;
  font-size: 14px;
}
.btn{
  padding: 1px 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 5px;
}

#comments{
  background-color: #CCCCFF;
  padding: 10px 5px;
  margin: 0 auto;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  max-width: 550px;
  max-height: 100%;
}
.comment{
  border-bottom: 1px solid $light;
  .com-author{
	margin-bottom: 1px;
	color: #000000;
	font-weight: 500;
  }
}
.user-profile{
  h2{
	text-align: center;
  }
  .col-md-3{
	background-color: #ffffff;
  }
  padding: 10px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  .post{
	background-color: #ffffff;
	padding: 10px 5px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0px auto;
  }
  .comment-form{
	margin-bottom: 1.6em;
  }
  li{
	list-style-type: none;
	margin: 5px auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	max-width: 550px;
	max-height: 100%;
  }
}
